options.txt
config
.curseclient
.ini
.csv
.replay_cache
tmcpr.c
.log
.log.gz
.mcpr
.dat
minecraftinstance.json
# files that should be ignored
# includes both ways a file could be written
.mixen.out\
logs\
moreplayermodels\
screenshots\
.mixen.out/
logs/
moreplayermodels/
screenshots/
