options.txt
.curseclient
.ini
.csv
tmcpr.c
**.log
**.log.gz
.mcpr
.dat
# files that should be ignored
.mixen.out/**
logs/**
moreplayermodels/**
screenshots/**
replay_recordings/**
shaderpacks/**
customnpcs/**
config/**
.replay_cache/**
config/**